html, body{
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    user-select: none;
}

/***********************************************
*********************NAVBAR*********************
***********************************************/

.navbar {
    margin-bottom: 20px;
}

.telNumber{
    margin-left: 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.4s;

}

.telNumber:hover{
    text-decoration: none;
    color: #F10000;
}

.telNumber img{
    max-width: 30px;
    margin-right: 20px;
}

.bg-dark {
    background-color: #1F1F1F !important;
}

.navbar-brand {
    color: #ffffff;
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.dropdownSearchButton {
    display: block;
    text-decoration: none;
    background-color: transparent;
    padding: 0.5rem 0rem;
    color: #8C8C8C;
}

.dropdownSearchButton:hover {
    color: #bbbbbb;
    cursor: pointer;
}

.dropdownListInfo {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-itemInfo {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.my-2 {
    margin-bottom: .5rem!important;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-toggle-icon img {
    max-width: 25px;
}

.navbar-toggler {
    transition-duration: 1.0s;
}

.navbar-toggler:focus {
    outline: none !important;
}

.navbar-toggler:hover {
    outline: 1px dotted !important;
    outline: 5px auto -webkit-focus-ring-color !important;
}

span.dropdownSearch {
    padding-left: 0;
    padding-right: 0;
}

.navbar-collapse{
    justify-content:flex-end;
    transition: .5s;
}

/**********************************************
****************POPUP***CART*******************
 *********************************************/
.cartMobile{
    display: none;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^1^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.cartLink {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#myCart{
    color: #8C8C8C;
}

#myCart:hover{
    color: #bbbbbb;
    cursor: pointer;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^1^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^2^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.cartLink .popupCartBox {
    visibility: hidden;
    width: auto;
    background-color: #f60000;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 100%;
    bottom: -6%;
}


.countItemsCart{
    position: absolute;
    height: 45%;
    width: 45%;
    text-align: center;
    top: 1%;
    right: 5%;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50%;
    color: #000000;
    padding: 0px;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^2^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.cartLink .popupCartBox::after {
    content: "";
    position: absolute;
    top: 30%;
    left: -25%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #f60000 transparent transparent transparent;
    transform: rotateZ(90deg);
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^3^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.popupCartImg{
    width: 45px;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^3^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*************************************************
********************SEARCH************************
*************************************************/
.dropdownSearchBox{
    border-top: 1px solid #FFFFFF;
    background-color: #1F1F1F;
    min-height: 300px;
    padding: 1%;
    z-index: 6;
    width: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 6;
    transition: .5s;
}

.dropdownSearchTitleBox{
    color:rgb(245, 244, 255);
    font-size: 1.4rem;
    margin-bottom: 5%;
    display: inline-flex;
}

.BlockTitle{
    font-size: calc(18px + 8 * (100vw / 1535));

}

.imgClose{
    height: 13%;
    border: 1px solid #1F1F1F;
    position: absolute;
    z-index: 6;
    top: 2%;
    right: 2%;
    transition: 0.5s;
}

.imgClose:hover{
    border-radius: 5px;
    border: 1px solid #b7e6ee;
}

.optionsBox{
    display: flex;
    flex-direction: column;
}

.listParametrs{
    height: 100%;
}

.listParametrs select{
    margin-bottom: 5%;
    width: 50%;
}

.InputParametrs div{
    margin-bottom: 5%;
}

.InputParametrs label{
    color: #ffffff;
    margin-right: 3%;
    margin-bottom: 0;
}

.InputParametrs input{
    width: 40%;
}

.buttonSearchBox{
    display: inline-flex;

}

.buttonSearchBox input{
    background-color: #d85b08;
    color: #fff;
    border: 2px solid #1F1F1F;
    border-radius: 5px;
}

#buttonSearch:hover{
    border: 2px solid #000;
}

#buttonReset:hover{
    border: 2px solid #000;
}

/*************************************************
****************MAIN**SECTION*********************
*************************************************/



section.mainBlock {
    background-color: #DDDDDD;
    border-radius: 20px 20px 0 0;
    padding: 0;
    padding-bottom: 2rem;
    flex: 1 0 auto;
}

.dropdown-item{
    cursor: pointer;
}

/************NAVIGATION***INFO*******************/

li.main-nav-item {
    background-color: #B7B7B7;
}

#buttonCatalogOpen {
    border-radius: 20px 0 0 0;
}

#aboutPurchase {
    border-radius: 0 20px 0 0;
}

li.main-nav-item:hover {
    background-color: #a7a7a7 !important;
}

.dropdown-menu {
    width: auto !important;
}

#CatalogList{
    width: auto !important;
}

#catalogDropdown:hover {
    color: #3B56B3 !important;
}

a.nav-link, span.nav-link{
    color: #00f;
}

/*************************************************
*********************FILTERS**********************
*************************************************/

/*.filtersBox{
    width: 20%;
}*/

.bearingsFilters{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.filtersTitle{
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
}

.filtersSlider{
    margin: 5% 0;
}

.filtersInputs{
    display: flex;
    justify-content: space-between;
}

.filtersLabel{
    display: flex;
    align-items: center;
    max-width: 133px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 0 5px;
}

.filtersText{
    font-size: 14px;
    color: #808080;
}

.filtersText:first-child{
    margin-right: 5px;
}

.filtersText:last-child{
    margin-left: 5px;
}

.filtersInput{
    border: none;
    color: #4D4D4D;
    font-size: 14px;
}

.noUi-connect {
    background-color: #5d71dd !important;
}

.noUi-target {
    background-color: #bfbfbf !important;
    border: none !important;
    border-radius: 100px !important;
    box-shadow: none !important;
    height: 3px !important;
}

.noUi-handle::after,
.noUi-handle::before {
    display: none !important;
}

.noUi-handle {
    box-shadow: none !important;
    border-radius: 100% !important;
    background-color: #fff !important;
    border: 3px solid #5d71dd !important;
}

.noUi-horizontal .noUi-handle {
    width: 22px !important;
    height: 22px !important;
    top: -10px !important;
}

.noUi-horizontal .noUi-handle{
    right: -20px !important;
}

.noUi-horizontal .noUi-handle-upper {
    right: -1px !important;
}

/*************************************************
**********************GOODS***********************
 ************************************************/

.emptyCatalogBox{
    transition-duration: 0.3s;
    z-index: 10;
    visibility: visible;
    opacity: 1;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    transition:opacity 0.5s;
    transition:visibility 0.5s;
}

.BoxInfoButReturn{
    margin: 0;
}

.emptyCartBox img{
    height: calc(120px + 320 * (60vw / 1535));
    width: calc(120px + 320 * (60vw / 1535));
}

.ButReturn{
    align-items: center;
    min-height: 40px;
    border: none;
    background: #ff0000;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 3px 0 #771d1d;
    transition: background-color 0.5s ease 0s;
    position: relative;
    top: 0;
}

.ButReturn:hover{
    background: #d00000;
}

.ButReturn:active{
    top: 3px;
    border: none;
    box-shadow: 0 1px 0 #771d1d;
}

.textToBold{
    font-weight: bold;
}

.textInfo{
    width: 100%;
}

.mainTextBlEmptyCart{
    font-size: 1.5rem;
    font-weight: bold;
    color: #6a6a7a;
}

.addInfoTextBlEmptyCart{
    font-size: 1rem;
    color: #6d6d81;

}

.formField._error{
    box-shadow: 0 0 12px #ff0000;
}

/*************************************************
******************GOODS_ITEM**********************
 ************************************************/

*{
    box-sizing: border-box;
}

.goods{
    margin: 0!important;
    padding: 0 5%;
}

.ItemGoods {
    width: 100%;
    margin: 0 auto;
    padding: 1.5% 1.5% 1.5% 1.5%;
}

.product-wrap{
    background: white;
    padding: 6%;
    border-radius: 3%;
    border: 1px solid #F1E7E8;
}

.GoodsCartFlag{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    background: #4fad00;
    text-align: center;
    border-radius: 0 0 25px 25px;
    color: white;
}

.imgGoodsBox {
    height: 100%;
    position: relative;
}
.GoodsBoxImages {
    position: relative;
}
.GoodsBoxImages:after {
    content: '';
    background: rgba(73, 102, 162, .5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    transform: scale(.3);
    transition: .3s ease-in-out;
}
.product-wrap:hover .GoodsBoxImages:after {
    opacity: 1;
    transform: scale(1);
}
.GoodsBoxImages span {
    display: block;
    text-decoration: none;
}
.GoodsBoxImages img {
    display: block;
    width: 100%;
}
.goodsItem_Loop-action {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;
}
.product-wrap:hover .goodsItem_Loop-action {
    opacity: 1;
}
.goodsItem_Loop-action span {
    text-decoration: none;
    display: block;
    border: 1px solid white;
    white-space: nowrap;
    text-transform: uppercase;
    padding: .5em 1em;
    font-size: 14px;
    line-height: 1.6;
    outline: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    min-width: 160px;
    margin: 5px auto;
    transition: .3s ease-in-out;
}
.goodsItem_Loop-action span:after {
    content: '';
    position: absolute;
    left: -220%;
    top: -500%;
    width: 140%;
    height: 1000%;
    transform: rotate(45deg);
    background: white;
    z-index: -1;
    transition: .3s ease-in-out;
}
.goodsItem_Loop-action span:hover {
    color: black;
}
.goodsItem_Loop-action span:hover:after {
    left: 0%;
}
.product-wrap:hover {
    border-color: #4966A2;
}

.goodsItemList {
    margin-top: 15px;
}
.goodsItemList h3 {
    font-weight: 700;
    color: #39404B;
    margin: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 2;
}
.goodsItemCodeBox {
    color: #763939;
    display: block;
    margin-bottom: 12px;
}

.goodsItemCodeBox span{
    font-size: 0.9rem;
}

.goodsItemCode{
    color: #007bff;
    cursor: pointer;
}

.goodsItemCode:hover{
    color: #0000ff;
}

.moreInfoIcon{
    max-width: 30px;
    margin-left: 5px;
    margin-bottom: 3px;
}

span.goodsItemCode:after {
    text-decoration: underline;
    display: block;
    position: absolute;
    left: 11%;
    width: 0;
    height: 2px;
    background-color: #001ea6;
    content: "";
    transition: width 0.4s ease-out;
}

span.goodsItemCode:hover:after,
span.goodsItemCode:focus:after {
    width: 45%;
}

.actions {
    border-top: 1px solid #eee;
    padding-top: 4px;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
}

.goodsItemActions{
    margin: 0!important;
    flex-wrap: nowrap;
}

.goodsItemID{
    display: none;
}

.goodsItemActions:after {
    content: "";
    display: table;
    clear: both;
}

.buttonBox {
    margin: 0 0 0 0;
    align-items: center;
}

.buttonBoxOverview{
    margin: 4% 0 0 0;
}

.goodsOverviewButton{
    padding: 0!important;
}

div.goodsItemActions div.add-to-cart{
    padding: 0!important;
}

.cart-button {
    text-decoration: none;
    color: #f60000;
    padding: 5px;
    border: 2px solid #f60000;
    border-radius: 25px;
    transition: .4s linear;
    cursor: pointer;
}

.cart-button:hover{
    background: #f60000;
    color: #FFFFFF;
}

.goodsOverviewButton:hover .cart-button, .wishlist:hover, .compare:hover {
    color: #E34D38;
}
.wishlist, .compare {
    color: #8C877C;
    padding-left: 20px;
    transition: .4s linear;
}

.buttonBox{
    position: relative;
    padding: 0!important;
}

.minus, .plus{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bdc2c2;
    width: 25.5%;
    color: #747777;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    -webkit-user-select: none;

}

.minusOverview, .plusOverview{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bdc2c2;
    width: 25.5%;
    color: #747777;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    -webkit-user-select: none;

}

.countOfItems_input{
    width: 30.5%;
    background: #a4a8a8;
    border: none;
    text-align: center;
}

.minus:hover, .plus:hover{
    color: #000000;
    background: #828585;
}

.minus:active, .plus:active {
    background: #828585;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.minusOverview:hover, .plusOverview:hover{
    color: #000000;
    background: #828585;
}

.minusOverview:active, .plusOverview:active {
    background: #828585;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}



/************************************************
*****************ITEM***OVERVIEW*****************
*************************************************/
.itemOverviewBox{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1150;
    overflow: hidden;
    overflow-y: auto;
}

.itemOverview{
    background: #FFFFFF;
    color: #000000;
    margin: 10% auto;
    border-radius: 3px;
    width: 50%;
}


.titleItemOverview{
    border-bottom: 1px solid #ebebeb;
    position: relative;
    color: #201600;
    font-size: 24px;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 2%;
    border-radius: 3px 3px 0 0;
    margin: 0!important;
}

.ItemCategoryOverview{
    padding: 0!important;
}

.ItemCodeOverview{
    padding: 0!important;
}

.closeImgOverviewBox{
    position: absolute;
    top: 3%;
    right: 3%;
}

.closeImgOverviewBox img{
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color .5s;
    min-width: 20px;
    max-width: 50px;
}

.closeImgOverviewBox img:hover{
    background: #ababad;
}

.ItemInfoOverview{
    padding: 0!important;
    margin: 0!important;
}

.ItemImgOverview{
    border-right: 1px solid #ebebeb;
    padding: 0!important;
}

.ItemImgOverview img{
    width: 100%;
    margin: 0 auto;
}

.itemTextOverviewCardBox{
    padding: 0!important;
}

.buttonAddToCardBox{
    border-bottom: 1px solid #ebebeb;
    padding: 24px;
}

.buttonAddToCard{
    display: inline-block;

    font-size: 16px;
    font-size: 1rem;
    color: #201600;
    border: 1px solid #201600;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 25px;
    box-sizing: border-box;
    outline: none;
    background: transparent;
    cursor: pointer;
    text-align: center;
    transition: background-color .2s,color .2s,border-color .2s;
    text-align: center;
    display: block;
    width: 100%;
    background: #ffe743;
    border: 1px solid #ffe743;
}

.buttonAddToCard:hover{
    border: 1px solid #050101;
    background: #e3c738;
}

.itemTextOverviewCard{
    padding: 0!important;
}

.itemTextOverviewBox{
    background: #F7F7F7;
    padding: 3%;
}

.itemTextOverviewListElemBox{
    margin: 0 0 5% 0!important;
    padding: 0!important;
    border-bottom: 1px solid #3e4b52;
}

/*************************************************
****************SELECTED***GOODS******************
 ************************************************/




/*************************************************
**********************FOOTER**********************
*************************************************/

.footer{
    flex: 0 0 auto;
    padding: 1.5%;
    width: 100%;
    height: auto;
    background-color: #182B34;
    position: relative;
}

.NavRow{
    height: 65%;
    max-height: 60px;
    margin-bottom: 3%;
}

.footInfo{
    height: 35%;
}

.CompanyName{
    color: #ffffff;
    font-size: calc(15px + 20 * (100vw / 1535));
    width: 100%;
    display: flex;
    align-item1s: flex-end;
}

.footInfo a{
    text-decoration: none;
    color: rgb(233, 230, 255);
    font-size: calc(10px + 6 * (100vw / 1535));

}

.footNavItem{
    align-items: center;
}

.footNavItemDescript:hover{
    color:#6495ED;
    transition: .3s;
}

.footNav{
    justify-content: flex-end;
}

.footNav a{
    text-decoration: none;
    color: #ffffff;
}

.footNav span{
    font-size: calc(12px + 6 * (100vw / 1535));
}

.InfoBeetwiner{
    font-size: 1rem;
    color: #ffffff;
}

.footNav img{
    height: 90%;
    width: 90%;
    margin-bottom: -5px;
}

.footNav .footNavItemDescript{
    text-align: center;
}

#cartBox{
    margin-left: 5%;
}

#deliveryBox{
    margin-left: 5%;
}


/*************************************************
********************ADAPTIV***********************
*************************************************/

@media (max-width: 1299.98px) {
    .navbar .container, .navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl .navbar .container .navMenuTEST{
        justify-content: space-around;
    }
    .navbar-collapse{
        flex-grow: 0;
    }
}

@media (max-width: 1199.98px) {
    .NavRow{
        margin-bottom: 4%;
    }
    .provideImageBox{
        width: calc(100% / 3 - 6em);
    }
    .titleItemOverview{
        font-size: 1.2rem;
    }
    .buttonAddToCard{
        font-size: 0.9rem;
        padding: 3% 5%;
    }
    .telNumber{
        font-size: 14px;
    }
}

@media (max-width: 1120.98px) {
    .telNumber{
        margin-left: 0px;
    }
}

@media (min-width: 992px) {

    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-lg>.container {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .mb-md-0,
    .my-md-0 {
        margin-bottom: 0!important;
    }

    .dropdownSearchButton {
        padding: 0.5rem 1rem !important;
    }
    .optionsBox{
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 576px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

@media (max-width: 991.98px) {
    .navbar .container, .navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl .navbar .container .navMenuTEST{
        justify-content: space-between;
    }
    .navbar-collapse{
        flex-grow: 1;
    }
    .dropdownSearchTitleBox{
        font-size: 1.1rem;
    }
    .listParametrs select{
        margin-left: 25%;
    }
    .imgClose{
        top: 1%;
        height: 6%;
    }
    .NavRow{
        margin-bottom: 5%;
    }
    .provideImageBox{
        width: calc(100% / 3 - 5em);
    }
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^5^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    .cartMobile{
        display: inline-block;
    }
    .cartComp{
        display: none;
    }
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^5^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
}

@media (max-width: 767.98px) {
    .NavRow{
        margin-bottom: 6%;
    }
    .aboutUsList{
        padding-left: 10%;
        padding-right: 10%;
    }
    #certificatesBox{
        margin-bottom: 8%;
    }
    #instructionBox{
        margin-bottom: 8%;
    }
    .provideImageBox{
        width: calc(100% / 3 - 4em);
    }
    .telNumber{
        font-size: 0;
    }
    .itemOverview{
        width: 65%;
    }
    .ItemImgOverview{
        display: flex;
        align-items: center;
    }
    .ItemImgOverview img{
        width: 70%;
    }
    .buttonAddToCard{
        width: 56%;
        font-size: 14px;
        padding: 10px 10px;
    }
    .ItemCategoryOverview{
        font-size: 16px;
    }
    .ItemCodeOverview{
        font-size: 16px;
    }
}
@media (max-width: 584px) {
    .cart-button{
        padding: 4px;
    }
}

@media (max-width: 576px) {
    .NavRow{
        margin-bottom: 8%;
    }
    .footNav img{
        height: 64%;
        width: 64%;
    }

    .footNavItem{
        justify-content: center;
    }
    .footer{
        padding: 0.5%;
    }
    .CompanyName{
        width: 105%;
        align-items: center;
    }
    .btn-outline-success{
        margin-top: 1%;
    }
    .cartLink{
        font-size: 0;
    }
    .cartLink .popupCartBox{
        bottom: -50%;
    }
    .countItemsCart{
        font-size: 14px;
    }
    .cartLink .popupCartBox::after{
        display: none;
    }
    .buttonAddToCard{
        width: 70%;
    }
    .cart-button{
        padding: 5px;
    }
}

@media (max-width: 500px)
{
    div.wrappedSection{
        padding: 0!important;
    }
    div.titleBox h3:before {
        left: 3px;
    }
    div.titleBox h3:after {
        right: 3px;
    }
    .goods{
        padding: 0 3%;
    }
    .ItemGoods{
        width: 50%;
        padding: 0.7%;
    }
    .cartLink .popupCartBox{
        left: 0%;
    }
    .buttonAddToCard{
        width: 80%;
        padding: 5px 5px;
    }
}

@media (max-width: 445px) {
    .goodsItemActions{
        flex-direction: column !important;
        align-items: center;
    }
    .add-to-cart{
        display: flex;
        width: 100% !important;
        margin-bottom: 9px;
        justify-content: center;
    }
}


@media (max-width: 425px) {
    .goodsItem_Loop-action span{
        font-size: 12px;
    }

    #CatalogList{
        width: 20rem !important;
    }
    .dropdown-menu{
        font-size: 15px;
    }
    .dropdown-item{
        white-space: break-spaces;
    }

}



@media (max-width: 404px) {
    .thirdBlock {
        border-radius: 0 20px 0 0;
    }

    #aboutPurchase {
        border-radius: 0px;
    }

    .aboutUsList {
        margin-right: 0;
        margin-left: 0;
        padding-left: 1%;
        padding-right: 1%;
    }
    .buttonAddToCard{
        width: 85%;
        padding: 5px 0px;
        font-size: 13px;
    }
}

@media (max-width: 385px){

    .goodsItemActions{
        flex-direction: column;
    }
    div.goodsItemActions div{
        width: 100%;
        margin: 1% 0 0 0;
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart-button{
        border-right: none;
        padding: 0;
    }
}


@media (max-width: 355px){
    .telNumber{
        margin-left: 10px;
    }
    .telNumber img{
        margin-right: 10px;
    }
}


@media (max-width: 335px){
    .ItemGoods{
        width: 85%;
    }
}